/* Estilos gerais */
body {
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
}

header {
    background-color: #E8EAED;
    padding: 20px 4%;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-size: 22px;
}

header a:hover {
    color: black;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header {
    background-color: #FAFAFA;
    padding: 10px 4%;
    position: sticky;
    width: 100%;
    z-index: 1000;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para o conteúdo */
.card {
    width: 50%;
    height: 150px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    background-color: #FAFAFA;
    color: black;
    border: none;
}

.custom-file-input::file-selector-button {
    background-color: #6c757d;
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.custom-file-input::file-selector-button:hover {
    background-color: #4d4f51;
    border: 2px solid #5f656a;
}

/* Estilos para os botões */
.sair {
    background-color: gray !important;
    color: white;
    border: none;
    margin-left: 10px;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sair:hover {
    background-color: red !important;
}

button[type="submit"] {
    color: white;
    width: 20%;
    border: 2px solid #6289b4;
    background-color: #004182;
    padding: 0.62rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
    margin-bottom: 0.2rem;
}

button[type="submit"]:hover {
    background-color: #0a73c2;
    transform: scale(1.05);
}

/* Estilos responsivos */
@media only screen and (max-width: 768px) {
    .form_frente {
        width: 80%;
        height: auto;
        padding: 15px;
    }

    .form-control {
        width: 90%;
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }

    a {
        font-size: 12px;
    }

    .custom-width {
        width: 90vw;
    }
}

@media only screen and (max-width: 480px) {
    .form_frente {
        width: 95%;
        padding: 10px;
    }

    .form-control {
        width: 100%;
        font-size: 14px;
    }

    h1 {
        font-size: 20px;
    }

    a {
        font-size: 10px;
    }

    .btn-primary, .btn-secondary {
        font-size: 14px;
        padding: 10px;
    }
}
