@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.loading-animation {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    transform: scale(5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn-secondary {
    background-color: #ee0000e7;
    color: #fff;      
border: 2px solid #f33232eb;   
transform: scale(0.8);
      }
      .btn-primary {
        background-color: #004182;
        color: #fff;      
  border: 2px solid #6289b4;   
  transform: scale(0.8); /* Reduz o tamanho do botão */
      }
      .btn-primary:hover {
          background-color: #007bff; }
      .btn-secondary:hover  {
          background-color: #ff0000;
      }
   
      .row {
        margin-left: 98px; /* Adicione a margem desejada à esquerda dos elementos da linha */
    }
            
.upload-toggler{
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 70px;
    width: 70px;
    color: #fff;
    background: #2093FF;
    border-radius: 50%;
    border:none;
    outline:none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;
    z-index: 999;

}
  .nav-link.active1 {
    color: red;
}

  
  .video-with-border {
      border: 1px solid #fff;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  }
  

  
  .c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
  
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }
  
       /* Adicione o estilo das cores aqui */
body {
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
}

header {
    background-color: #FAFAFA;
    padding: 10px 4%;
    position: sticky;
    width: 100%;
    z-index: 1000;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
    width: 100%; /* Certifica que a largura seja 100% do contêiner pai */
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-size: 22px;
}

header a:hover {
    color: black;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}


.btn-contato button {
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #2093FF;
    color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px #d6dde2;
    transform: scale(1.05);
}

.btn-abrir-menu {
    display: none; /* Oculto por padrão */
    cursor: pointer;
    color: #2093FF;
    font-size: 50px;
    background: none;
    border: none;
}

.sair {
    background-color: gray !important;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sair:hover {
    background-color: red !important; /* Altera a cor para vermelho quando passa o mouse */
}
/* Aplica a fonte 'Roboto' para todo o corpo da página */
body {
    font-family: 'Poppins', sans-serif;
}

/* Adiciona estilos específicos para outros elementos, se necessário */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p, a, li, button {
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1330px) {
    .imagem {
        display: none;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .form {
        width: 100%;
        padding: 2rem;
    }

    .input-group {
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-y: scroll;
        max-height: 10rem;
        padding-right: 0;
    }

    .cadastro-btn {
        width: 40%; /* Aumenta a largura do botão */
        padding: 0.8rem; /* Aumenta o padding interno para um botão mais alto */
    }

    .input-box {
        width: 100%; /* Ajusta os campos para ocupar toda a largura */
        margin-bottom: 1rem; /* Espaçamento entre os campos */
    }
}

@media screen and (max-width: 1020px) {

    .sair {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 90%;
        height: auto; /* Permite que a altura se ajuste automaticamente */
        left: 50%; /* Centraliza o elemento */
    }
}

@media screen and (max-width: 768px) {
    .sobre .container {
        flex-direction: column;
        align-items: flex-start; /* Alinha os itens à esquerda */
        justify-content: flex-start;
    }

    .sobre .container .card {
        margin-bottom: 20px; /* Adiciona espaçamento entre os containers */

    }

    .btn-abrir-menu {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    
    .sobre .container .card-border {
        margin-bottom: 20px;
    }

    .sobre .container .card-border:last-child {
        margin-bottom: 0;
    }

    footer .footer-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    footer .footer-text p {
        font-size: 12px; 
    }

    header .interface {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sobre .container {
        flex-direction: column;
        gap: 20px;
    }

    body.show-chatbot .chatbot {
        bottom: 100px; /* Ajuste esse valor conforme necessário para garantir que o chatbot não sobreponha o rodapé */
    }

    body.show-chatbot .rodapé {
        padding-bottom: 150px; /* Adiciona espaço extra ao rodapé quando o chatbot está ativo */
    }
}

@media screen and (max-width: 1020px) {

    /* classes gerais */

    h2.titulo {
        font-size: 27px;
        line-height: 30px;
    }

    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }


    /* cabeçalho */
    .menu-desktop,
    .btn-contato {
        display: none;
        margin-right: 10px;
    }

    /* topo-do-site */

    section.topo-do-site .flex {
        gap: 40px;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site img {
        width: 100%;
    }

    /* objetivos */

    section.objetivo {
        padding: 40px 8%;
    }

    /* estilo sobre */

    .container {
        flex-direction: column;
    }

    section.sobre {
        padding: 40px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 35px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* rodapé */

    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }


    .formulario {
        margin-top: 50px; /* Adicione a margem superior desejada */
    }

    /* Fale Conosco */
    .formulario input[type="text"],
    .formulario textarea {
        width: 80%; /* Defina a largura desejada */
        margin: 0 auto; /* Centralize horizontalmente */
        display: block; /* Garanta que cada campo ocupe a largura total disponível */
    }

    .btn-abrir-menu{
        display: block;
    }
}

@media screen and (max-width: 1020px) {
    .btn-abrir-menu {
        display: block; /* Exibir o botão em telas pequenas */
    }
}

.menu-mobile {
    background-color: #FAFAFA;
    height: 100vh; /* Garante que o menu cobre a altura total da tela */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0; /* Define a largura do menu ao ser aberto */
    display: flex;
    flex-direction: column;
    padding-top: 60px; /* Espaço entre o botão X e os links do menu */
    transition: width 0.5s ease;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar o menu */
}

.menu-mobile.abrir-menu {
    width: 70%; /* Define a largura do menu ao ser aberto */
    padding-right: 20px;
}


.overlay-menu {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}


.menu-header {
    display: flex;
    justify-content: flex-start; /* Alinha o botão à esquerda */
    padding: 28px;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
}

.menu-mobile ul {
    padding: 20px 0;
    margin: 0;
    list-style: none;
    text-align: right;
    width: 100%;
}

.menu-mobile ul li {
    margin-bottom: 20px;
}

.menu-mobile ul li a {
    color: black;
    font-size: 20px;
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    width: 100%;
}

.menu-mobile ul li a:hover, 
.menu-mobile ul li a.active {
    background-color: #2093FF;
    color: white;
}

/* Botão de abrir menu */
.btn-abrir-menu {
    display: none; /* Oculto por padrão em telas grandes */
    cursor: pointer;
    color: #2093FF;
    font-size: 50px;
    background: none;
    border: none;
}

.btn-fechar {
    font-size: 35px;
    color: #2093FF;
    position: absolute;
    top: 15px; /* Ajusta o botão ao topo */
    left: 15px; /* Posiciona o botão à esquerda */
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 10px;
    transition: background-color 0.3s;
    z-index: 100000; /* Garante que o botão fique no topo */
}

.btn-fechar-menu:hover {
    background-color: #fafafa;
}

@media screen and (max-width: 1020px) {
    /* Exibir o botão de menu em telas menores */
    .btn-abrir-menu {
        display: block;
    }

    /* Ocultar o menu desktop em telas menores */
    .menu-desktop {
        display: none;
    }
}