{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tela_perfil.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <title>Perfil</title>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.1.0/firebase-app.js";
        import { getDatabase, ref, get, update } from "https://www.gstatic.com/firebasejs/9.1.0/firebase-database.js";

        const firebaseConfig = {
            apiKey: "AIzaSyCDt3C8vJSaPByyuK_Ic0g_weklhLPIgrU",
            authDomain: "reconview-1410a.firebaseapp.com",
            databaseURL: "https://reconview-1410a-default-rtdb.firebaseio.com",
            projectId: "reconview-1410a",
            storageBucket: "reconview-1410a.appspot.com",
            messagingSenderId: "659583199869",
            appId: "1:659583199869:web:32d1ce0d44e7b94c879f14",
            measurementId: "G-PBF18382KL"
        };

        const app = initializeApp(firebaseConfig);
        const database = getDatabase(app);

        // Função para preencher os campos do formulário com os dados do usuário
        function fillUserData() {
            const userEmail = sessionStorage.getItem('userEmail');
            const userNome = sessionStorage.getItem('userNome');
            const userSobrenome = sessionStorage.getItem('userSobrenome');
            const userCelular = sessionStorage.getItem('userCelular');
            const userID = sessionStorage.getItem('userID'); // ID do usuário

            if (userNome) {
                document.getElementById('firstname').value = userNome;
            }
            if (userSobrenome) {
                document.getElementById('lastname').value = userSobrenome;
            }
            if (userEmail) {
                document.getElementById('email').value = userEmail;
            }
            if (userCelular) {
                document.getElementById('number').value = userCelular;
            }
            return userID; // Retornar o ID do usuário
        }

        // Função para aplicar máscara no telefone
        function applyPhoneMask(input) {
            var phone = input.value.replace(/\D/g, '');
            if (phone.length <= 2) {
                input.value = '(' + phone;
            } else if (phone.length <= 6) {
                input.value = '(' + phone.substring(0, 2) + ') ' + phone.substring(2);
            } else if (phone.length <= 10) {
                input.value = '(' + phone.substring(0, 2) + ') ' + phone.substring(2, 6) + '-' + phone.substring(6);
            } else {
                input.value = '(' + phone.substring(0, 2) + ') ' + phone.substring(2, 7) + '-' + phone.substring(7, 11);
            }
        }

        // Lógica para atualizar os dados do perfil
        async function updateUserProfile(event) {
            event.preventDefault(); // Evita o envio padrão do formulário

            const firstname = document.getElementById('firstname').value;
            const lastname = document.getElementById('lastname').value;
            const email = document.getElementById('email').value;
            const number = document.getElementById('number').value;

            const userID = fillUserData(); // Obter o ID do usuário armazenado

            // Atualiza os dados no sessionStorage
            sessionStorage.setItem('userNome', firstname);
            sessionStorage.setItem('userSobrenome', lastname);
            sessionStorage.setItem('userEmail', email);
            sessionStorage.setItem('userCelular', number);

            // Atualizar os dados no Firebase
            try {
                await update(ref(database, `usuarios/${userID}`), {
                    nome: firstname,
                    sobrenome: lastname,
                    email: email,
                    celular: number
                });
                console.log("Dados atualizados com sucesso!");
            } catch (error) {
                console.error("Erro ao atualizar os dados:", error);
            }

            // Recarrega a página após atualizar os dados
            location.reload();
        }

        document.addEventListener('DOMContentLoaded', function() {
            fillUserData(); // Preencher os campos com os dados do usuário

            const phoneInput = document.getElementById('number');
            phoneInput.addEventListener('input', function() {
                applyPhoneMask(this);
            });

            const form = document.querySelector('.form form');
            form.addEventListener('submit', updateUserProfile); // Adiciona o evento de submit ao formulário
        });

        // Função para abrir e fechar o menu mobile
    const abrirMenu = document.querySelector('.btn-abrir-menu');
    const fecharMenu = document.querySelector('.btn-fechar');
    const menuMobile = document.querySelector('.menu-mobile');
    const overlayMenu = document.querySelector('.overlay-menu');

    abrirMenu.addEventListener('click', function() {
        menuMobile.classList.add('abrir-menu');
        overlayMenu.style.display = 'block';
    });

    fecharMenu.addEventListener('click', function() {
        menuMobile.classList.remove('abrir-menu');
        overlayMenu.style.display = 'none';
    });

    overlayMenu.addEventListener('click', function() {
        menuMobile.classList.remove('abrir-menu');
        overlayMenu.style.display = 'none';
    });
    </script>
</head>

<header class="site-header">
    <div class="interface">
      <div class="logo">
         <a href="#">
            <img src="{% static 'img/logo.png' %}" alt="Logo" width="100px">
        </a>
     </div>

        <button class="btn-abrir-menu">
            <i class="bi bi-list"></i>
        </button>
 
         <nav class="menu-desktop">
            <ul>
                <li><a href="{% url 'principal' %}">Início</a></li>
                <li><a href="{% url 'clima' %}">Clima</a></li>
                <li><a href="{% url 'uploadIA' %}">Análise de Vídeo</a></li>
                <li><a href="{% url 'video' %}">Biblioteca</a></li>
                <li><a href="{% url 'perfil' %}">Perfil</a></li>
            </ul>
         </nav>
         
         <a href="/">
            <button class="sair">Sair</button>
        </a>
    </div>
</header>

<!-- Estrutura do menu mobile -->
<div class="menu-mobile">
    <div class="menu-header">
        <button class="btn-fechar">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'principal' %}">Início</a></li>
                <li><a href="{% url 'clima' %}">Clima</a></li>
                <li><a href="{% url 'uploadIA' %}">Análise de Vídeo</a></li>
                <li><a href="{% url 'video' %}">Biblioteca</a></li>
                <li><a href="{% url 'perfil' %}">Perfil</a></li>
            <li><a href="/">Sair</a></li>
        </ul>
    </nav>
</div>

<div class="overlay-menu"></div>


<body>
        <div class="form">
            <form>
                <div class="form-header">
                    <div class="title">
                        <h1>Perfil</h1>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="firstname">Primeiro nome</label>
                        <input id="firstname" type="text" name="firstname" placeholder="Digite seu primeiro nome" required>
                    </div>
                    <div class="input-box">
                        <label for="lastname">Sobrenome</label>
                        <input id="lastname" type="text" name="lastname" placeholder="Digite seu Sobrenome" required>
                    </div>
                    <div class="input-box">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" placeholder="Digite seu Email" required>
                    </div>
                    <div class="input-box">
                        <label for="number">Celular</label>
                        <input id="number" type="tel" name="number" placeholder="(xx) xxxx-xxxx" pattern="\(\d{2}\) \d{4,5}-\d{4}" required>
                    </div>
                </div>
                <div class="continue-button">
                    <button type="submit">Alterar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
