{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tela_cadastro.css' %}" />
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="imagem">
            <img src="{% static 'img/drone-bro.svg' %}">
        </div>
        <div class="form">
            <div class="form-header">
                <div class="title">
                    <h1>Cadastre-se</h1>
                </div>
            </div>
            <form id="cadastrar">
                <div class="input-group">
                    <div class="input-box">
                        <label for="firstname">Primeiro nome</label>
                        <input id="firstname" type="text" name="nome" placeholder="Digite seu primeiro nome" required>
                    </div>
                    <div class="input-box">
                        <label for="lastname">Sobrenome</label>
                        <input id="lastname" type="text" name="sobrenome" placeholder="Digite seu sobrenome" required>
                    </div>
                    <div class="input-box">
                        <label for="email">Email</label>
                        <input id="email" type="text" name="email" placeholder="Digite seu Email" required>
                    </div>
                    <div class="input-box">
                        <label for="number">Celular</label>
                        <input id="number" type="tel" name="celular" placeholder="(xx) xxxxx-xxxx" required>
                    </div>
                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="senha" placeholder="Digite sua senha" required>
                    </div>
                    <div class="input-box">
                        <label for="password1">Confirme sua senha</label>
                        <input id="password1" type="password" name="senha1" placeholder="Confirme sua senha" required>
                    </div>
                </div>
                <div class="continue-button">
                    <button type="submit" class="cadastro-btn">Cadastrar</button>
                    <button type="button" onclick="window.location.href='/'" class="voltar-btn">Voltar</button>
                </div>
                <div id="message-container" class="flash_alerta" style="color: red; margin-top: 8px;"></div>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.1.0/firebase-app.js";
        import { getDatabase, ref, push, set, get } from "https://www.gstatic.com/firebasejs/9.1.0/firebase-database.js";

        const firebaseConfig = {
            apiKey: "AIzaSyCDt3C8vJSaPByyuK_Ic0g_weklhLPIgrU",
            authDomain: "reconview-1410a.firebaseapp.com",
            databaseURL: "https://reconview-1410a-default-rtdb.firebaseio.com",
            projectId: "reconview-1410a",
            storageBucket: "reconview-1410a.appspot.com",
            messagingSenderId: "659583199869",
            appId: "1:659583199869:web:32d1ce0d44e7b94c879f14",
            measurementId: "G-PBF18382KL"
        };

        const allowedDomains = ['email.com', 'outlook.com', 'gmail.com', 'yahoo.com', 'hotmail.com'];

        const app = initializeApp(firebaseConfig);
        const database = getDatabase(app);

        document.getElementById('cadastrar').addEventListener('submit', async function(event) {
            event.preventDefault();

            const nome = document.getElementById('firstname').value;
            const sobrenome = document.getElementById('lastname').value;
            const email = document.getElementById('email').value;
            const celular = document.getElementById('number').value;
            const senha = document.getElementById('password').value;
            const senha1 = document.getElementById('password1').value;

            const emailDomain = email.split('@')[1];

            const messageContainer = document.getElementById('message-container');

            if (!allowedDomains.includes(emailDomain)) {
                messageContainer.innerHTML = 'Domínio de e-mail não permitido.';
                return;
            }

            if (senha !== senha1) {
                messageContainer.innerHTML = 'As senhas não coincidem.';
                return;
            }

            const encryptedPassword = CryptoJS.SHA256(senha).toString();

            try {
                const usersRef = ref(database, 'usuarios');
                const snapshot = await get(usersRef);
                let emailExists = false;

                if (snapshot.exists()) {
                    snapshot.forEach(childSnapshot => {
                        const userData = childSnapshot.val();
                        if (userData.email === email) {
                            emailExists = true;
                        }
                    });
                }

                if (emailExists) {
                    messageContainer.innerHTML = 'Email já cadastrado.';
                    return;
                }

                const newUserRef = push(ref(database, 'usuarios'));

     await set(newUserRef, {
    nome: nome,
    sobrenome: sobrenome,
    email: email,
    celular: celular,
    senha: encryptedPassword 
});


messageContainer.innerHTML = '<p style="color: green;">Cadastro realizado com sucesso!</p>';
setTimeout(() => {
    window.location.href = '/';
}, 2000);

            } catch (error) {
                messageContainer.innerHTML = 'Erro ao cadastrar: ' + error.message;
            }
        });
    </script>
</body>
</html>
